.pagination-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 5px;
}

.pagination-button.active {
  background-color: #5865f2;
  color: white;
}

.prev-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  cursor: pointer;
  color: gray;
  font-weight: bold;
  margin-right: 12px;
}

.next-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  cursor: pointer;
  color: gray;
  font-weight: bold;
  margin-left: 12px;
}

.ellipsis {
  color: gray;
  display: inline-block;
}
